html, body {margin:0px;padding:0px;font-family:Verdana,sans-serif;}
div, td, form, li, input {font-size:10px;}
span, strong, em, u, b, i, font {color:inherit;}
* {padding:0px;border-width:1px;}
p {margin-top:3px;margin-bottom:5px;vertical-align:middle;}
img {border:none;vertical-align:middle;padding:0px;margin:0px;}
.imageheader img, .image img, .teaser td img {vertical-align:top;}
a {	text-decoration:none;}
hr { color:#000000;background-color:#000000;line-height:1px;border-style:solid;margin:0px;padding:0px;}
li { padding: 2px 0px 2px 5px;margin:0px;}
ul, ol, li, table, tr, td, th, div {  vertical-align:middle;margin:0px;padding:0px;}
td div {color:inherit !important;text-align:inherit;margin:0px;padding:0px;}
ol,ul {list-style-position:inside;width:100%;}
input {vertical-align:middle;}
input[type="submit"] {width:auto;}
input[type="image"] {width:auto;}
input[type="text"] {border:1px solid #BBBBBB;}
input[type="password"] {border:1px solid #BBBBBB;}
input[type="checkbox"] {width:auto;}
input[type="radio"] {width:auto;}
input, select { margin:1px;}
textarea {border:1px solid #BBBBBB;width:97%;background-color:#FFFFFF;color:#000000;font-family:Verdana,sans-serif;font-size:10px;}
select {border:1px solid #BBBBBB;font-size:10px;}
div.body {margin:0px;padding:0px;}
div.tabbedmenu {  margin:0px;padding:0px;text-align:left;}
div.tabbedmenu table { margin-top:0px;width:100%;}
div.tabbedmenu.mode3, div.tabbedmenu.mode4 { text-align:center}
div.tabbedmenu.mode3 *, div.tabbedmenu.mode4 * {border:none;}
span.tabbed-inactive { padding:0px;border-bottom:1px solid;}
span.tabbed-active { padding:0px;border-bottom:1px solid;}
td.tabbed-active, a.tabbed-active { text-decoration:none;padding-left:3px;padding-right:3px;border:1px solid;}
td.tabbed-inactive, a.tabbed-inactive { text-decoration:none;padding-left:3px;padding-right:3px;color:#333333;border: 1px solid;}
td.tabbed-inactive, td.tabbed-active { border-right-width:0px;}
.tabbed-last {border-right-width:1px !important;}
.tabbed-active.mode3, .tabbed-active.mode4 { padding:0px;border:none !important;border-width:0px;}
.tabbed-active.mode3 *, .tabbed-active.mode4 * { padding:0px;border:none !important;border-width:0px;}
.tabbed-inactive.mode3, .tabbed-inactive.mode4 { padding:0px;border:none !important;border-width:0px;}
.tabbed-inactive.mode3 *, .tabbed-inactive.mode4 * { padding:0px;border:none !important;border-width:0px;}
div.pipedmenu * {margin:0px;border:none;}
div.toolbar { margin:0px;padding:5px 0px 0px 0px;}
div.toolbar a { padding:1px;}
.toolbar-inactive { padding:0px 1px 1px 0px;}
.toolbar-active { padding:0px 1px 1px 0px;}
.separator { text-align:center;}
div.buttonmenu, div.buttonmenu td { text-align:center;margin:0px;}
div.buttonmenu table {width:100%}
div.buttonmenu.mode2, div.buttonmenu.mode5 { line-height:1.9em;}
.buttonmenu span {padding: 2px 0px;}
.button-image {border:none;padding:0px;margin:0px}
.button-inactive { margin:0px;padding: 1px 3px 1px 3px;border:1px solid;overflow:hidden;}
.button-active {  margin:0px;padding: 1px 3px 1px 3px;border:1px solid;overflow:hidden;}
a.button-active {margin:0px;}
a.button-inactive {margin:0px;}
.button-active.mode3, .button-active.mode4 { padding:0px;border:none !important;background:none;border-width:0px;}
.button-active.mode3 *, .button-active.mode4 * { padding:0px;border:none !important;background:none;border-width:0px;}
.button-inactive.mode3, .button-inactive.mode4 { padding:0px;border:none !important;background:none;border-width:0px;}
.button-inactive.mode3 *, .button-inactive.mode4 * { padding:0px;border:none !important;background:none;border-width:0px;}
div.article { margin:0px;padding: 0px 0px 3px 0px;}
div.article div { padding: 0px 5px 0px 5px;}
div.article img {margin-top:3px;margin-bottom:3px;}
div.adbanner {	margin:0px;padding-top:2px;padding-bottom:5px;}
div.teaser { margin:0px;padding: 0px 0px 0px 0px;}
div.teaser div { margin:0px;padding: 1px 3px 0px 3px;}
div.teaser div div { margin:0px;padding-left: 0px;}
div.teaser img, div.contentlist img, div.showfile img {margin:3px;}
div.teaser td img {margin:2px;}
div.teaser td {padding:2px;}
div.teaser td.ttext {padding-left:3px;}
div.form { margin:0px;padding:0px;overflow-x:hidden;}
div.form form { margin:0px;padding: 3px 0px 3px 3px;}
div.noform { margin:0px;padding: 3px 0px 3px 3px;}
.form table { padding: 0px;margin:0px;width:97%;border-collapse:collapse;}
.form td {margin:0px;padding:0px;}
.form td div {margin:0px;padding:0px;}
div.list { margin:0px;padding: 3px 0px 3px 0px;}
div.list table { border:none;padding:0px;width:99%;}
div.list td { margin:0px;border:none;}
div.list td.list-img {padding-left:3px;width:5%;overflow:visible;}
div.list td.list-text,div.list div.list-text, td.list-richtext,div.list div.list-richtext  {padding-left:3px;}
div.list li { padding-left:3px;}
div.list li a { padding-left:0px;}
div.table { margin:0px;padding:0px;}
div.table table { border-collapse:collapse;width:99%;margin:0px;padding:0px;}
div.table td {padding-left:3px;padding-top:2px;padding-bottom:2px;padding-right:3px;}
div.table td div {margin:0px;padding:0px;}
div.table-row {padding-bottom:0.5em;}
div.table-cell {}
div.separator {margin:0px;padding:0px;text-align:center;}
div.hr {border-top:none !important;border-right:none !important;border-left:none !important;border-bottom:1px solid;height:1px;margin:0px;padding:0px;overflow:hidden;}
div.pageheader {margin:0px;padding-top:2px;padding-bottom:2px;}
div.pageheader.mode1 {margin:0px;padding:0px;}
div.pageheader table {width:100%}
.logo { padding:0px;margin:0px;}
.subimages {padding:0px 5px 0px 0px;margin:0px;top:-100%;vertical-align:middle;text-align:right;}
td.subimages {white-space: nowrap;width:1%;}
td.pageheadline {white-space: nowrap;vertical-align:middle;}
table.footer-table {width:98%;text-align:center;}
div.pagefooter {margin:0px;padding-top:2px;padding-bottom:2px;text-align:center;}
td.footer-cell  {padding-left:1px;vertical-align:middle;}
div.navigation {margin:0px;text-align:center;padding-top:2px;padding-bottom:2px;}
a.navbutton {padding:3px;}
table.nav-table {width:98%;text-align:center;}
td.nav-cell  {white-space: nowrap;padding-left:2px;text-align:center;vertical-align:middle;}
td.nav-separator-cell  {white-space: nowrap;vertical-align:middle;}
td.nav-text-cell  {white-space: nowrap;text-align:center;}
div.pipedmenu {	margin:0px;padding-top:2px;padding-bottom:2px;}
div.tagcloud {	margin:0px;padding-top:2px;padding-bottom:2px;text-align:center;}
div.tagcloud div.headline {text-align:left;}
div.showfile { margin:0px;}
div.showfile div {padding: 0px;padding-left:3px;} 
div.showfile hr {margin: 5px;}
div.contentlist, div.rsslist, div.location { margin:0px;}
div.contentlist div {padding: 0px 5px 0px 5px;}
div.folderlist {padding: 3px 0px 5px 0px;}
div.folderlist div {line-height:1.6em;}
div.filelist {margin-top:3px;padding:0px;}
div.filelist div {line-height:1.6em;padding:0px;}
div.filelist div a {padding-left:3px;}
div.text {margin:0px;padding: 3px 0px 3px 0px;}
div.text div {padding: 0px 5px 0px 5px;}
div.ticker {margin:0px;padding: 3px 0px 3px 0px;}
div.ticker div {padding: 0px 5px 0px 5px;}
div.headline, td.headline, .feedheadline {margin:0px;padding: 3px 3px 4px 4px !important;overflow:hidden;}
.feedheadline * { font-weight:bold;text-decoration:none;font-size:120%;}
.headline * { font-weight:bold;text-decoration:none;font-size:12px;}
.footertext {line-height:2em;vertical-align:bottom;padding:0px 3px;}
div.poiitem {padding-bottom:5px;}
div.poiitem div {margin:0px;padding-left:5px;}
.poihead {padding:3px 0px 3px 0px;font-weight:bold;}
.poilabe {padding:2px 0px 2px 0px;}
.loctext {padding:0px 3px 0px 3px;}
div.analytics {line-height:1px}
.mode1, .mode2, .mode3, .mode4 { }
.large, .large *, .large td *  {font-size:12px;}
.large .headline *  {font-size:14px;}
.medium, .medium *, .medium td * {font-size:10px;}
.medium .headline *  {font-size:12px;}
.small, .small *, .small td * {font-size:8px;}
.small .headline *  {font-size:10px;}
body {color: #000000;background-color: #FFFFFF;}
span.tabbed-inactive { border-bottom:1px solid #C6C6C6;}
span.tabbed-active { border-bottom:1px solid #C6C6C6;}
td.tabbed-active, a.tabbed-active {  border-top-color: #C6C6C6;border-left-color: #C6C6C6;border-right-color: #C6C6C6;border-bottom-color:#FFFFFF;}
td.tabbed-inactive, a.tabbed-inactive {  border-color:#C6C6C6;}
div.buttonmenu.mode3, div.buttonmenu.mode4 {padding-bottom:2px;}
.hidden {display: none;}
.visible {display: block;}
.rssnavi {text-align:center;}
.zflow{ -webkit-touch-callout: none; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.zflow div.centering{ -webkit-perspective: 600; -webkit-perspective-origin: 160px 50%;-webkit-transform-style: preserve-3d; -webkit-transform: translateZ(0px);}
.zflowloader{z-index:50;top: 0px;left: 0px;	position:absolute;}
.nbzflow{position: relative;width:320px;height: 135px;overflow:hidden;}
.traytext{text-align: center;bottom: 0px;position: absolute;z-index:200;}
.zflow div.tray{position: absolute;left: 50%;top: 80px;width:30px;height:30px;-webkit-transform-style: preserve-3d;-webkit-transform: translateX(0px);-webkit-transition-property: -webkit-transform;-webkit-transition-duration: 0.4s;-webkit-transition-timing-function: ease-out;}
.zflow div.cell{position: absolute;-webkit-transform-style: preserve-3d;-webkit-transform:translateX(0px);-webkit-transition-property:-webkit-transform opacity;-webkit-transition-duration: 0.4s;-webkit-transition-timing-function: ease-out;}
.zflow div.cell img{position:absolute;}
.zflow div.cell canvas{ position: absolute;}
.webkit{-webkit-touch-callout: none;-webkit-text-size-adjust: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.webkit div.centering{-webkit-perspective: 600;-webkit-perspective-origin: 160px 50%;-webkit-transform-style: preserve-3d;-webkit-transform: translateZ(0px);}
.webkitloader {	z-index:50;	top: 0px;left: 0px;	position:absolute;}
.nbwebkit{position: relative;overflow:hidden;}

.webkit div.webkittray{position: relative;left:0px;width: 30px;	height: 30px;-webkit-transform-style: preserve-3d;-webkit-transform: translateX(0px);-webkit-transition-property: -webkit-transform;-webkit-transition-duration: 0.4s;-webkit-transition-timing-function: ease-out;}
.webkittray div.webkitcell{position: absolute;-webkit-transform-style: preserve-3d;-webkit-transform: translateX(0px);-webkit-transition-property: -webkit-transform opacity;-webkit-transition-duration: 0.4s;-webkit-transition-timing-function: ease-out;}
.webkit div.webkit img{position: absolute;}
.webkit div.webkit canvas{position: absolute;}
