body{
	font: 0.8em Arial;
}


/***** typography *****/

.error{
	color: red;
}

/***** eo typrography *****/


/***** layout *****/

.fRight{
	float: right;
}

.fLeft{
	float: left;
}

.aLeft{
	text-align: left;
}

.aRight{
	text-align: right;
}

.clear{
	clear: both;
}

/** header **/

#header{
	width: 100%;
	height: 50px;
}

/** eo header **/

/** navigation **/

#navigation ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navigation li{
	display: block;
	display: inline;
	margin-right: 20px;
}

#navigation div{
	width: 200px;
}

#side-navigation{
	width: 200px;
	float: left;
}

#side-navigation ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/** eo navigation **/

/** content **/

#content{
	margin-top: 20px;
}

#main-content{
	margin-left: 30px;
	width: 770px;
	float: left;
}

/** eo content **/

/***** eo layout *****/


/* form */

.form label{
	display: block;
	float: left;
	width: 150px;
}

.form .input{
	width: 200px;
	float: left;
}

.form .formFieldWrapper{
	margin: 5px 0;
}

.sbtBtnWrapper{
	margin-left: 150px;
}

/* eo form */

/* login */

#loginFormWrapper{
	margin: 200px auto;
	width: 350px;
	height: 350px;
}

#loginFormWrapper .error{
	text-align: center;
	margin: 5px 0;
}

/* eo login */

/* navigation */



/* eo navigation */

