<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<!--  APPENDERS -->

        <appender name="addressbookcontacts-file-appender" class="org.apache.log4j.DailyRollingFileAppender">
                <param name="File" value="${log.dir}/addressbookcontacts-${log.filename}.log" />
                <param name="Append" value="true" />
                <!--layout class="com.projectgoth.fusion.common.log4j.SimpleAppenderLayout"/-->
                <layout class="org.apache.log4j.PatternLayout">
                        <param name="ConversionPattern" value="%m%n"/>
                </layout>
        </appender>
	
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="com.projectgoth.fusion.common.NoStackTracePatternTTCCLayout">
			<param name="dateFormat" value="ISO8601" />
		</layout>
	</appender>

	<appender name="authlogfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${log.dir}/authentication.log" />
		<param name="Append" value="true" />

		<layout class="com.projectgoth.fusion.common.NoStackTracePatternTTCCLayout">
				<param name="dateFormat" value="ISO8601" />
		</layout>
	</appender>
	
	 <appender name="chatroomaudit" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${log.dir}/chatroomaudit.log" />
		<param name="Append" value="true" />

		<layout class="com.projectgoth.fusion.common.NoStackTracePatternTTCCLayout">
				<param name="dateFormat" value="ISO8601" />
		</layout>
	</appender>
	
	<appender name="voiceaudit" class="org.apache.log4j.DailyRollingFileAppender">
                <param name="File" value="${log.dir}/voiceaudit.log" />
                <param name="Append" value="true" />

                <layout class="com.projectgoth.fusion.common.NoStackTracePatternTTCCLayout">
                                <param name="dateFormat" value="ISO8601" />
                </layout>
        </appender>

    <appender name="httptunnelaudit" class="org.apache.log4j.DailyRollingFileAppender">
                <param name="File" value="${log.dir}/httptunnelaudit.log" />
                <param name="Append" value="true" />
 
                <layout class="com.projectgoth.fusion.common.NoStackTracePatternTTCCLayout">
                                <param name="dateFormat" value="ISO8601" />
                </layout>                                                                                                                             
        </appender>

	<appender name="giftallmetrics" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${log.dir}/giftallmetrics.log" />
		<param name="Append" value="true" />
		<layout class="com.projectgoth.fusion.common.NoStackTracePatternTTCCLayout">
			<param name="dateFormat" value="ISO8601" />
		</layout>
	</appender>

	<appender name="logfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${log.dir}/${log.filename}.log" />
		<param name="Append" value="true" />

		<layout class="com.projectgoth.fusion.common.NoStackTracePatternTTCCLayout">
			<param name="dateFormat" value="ISO8601" />
		</layout>
	</appender>

	<appender name="warnerrorlog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${log.dir}/${log.filename}.warnerror.log" />
		<param name="Append" value="true" />

		<layout class="org.apache.log4j.TTCCLayout">
			<param name="dateFormat" value="ISO8601" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
		</filter>
	</appender>
  	
	<appender name="errorfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${log.dir}/${log.filename}.error.log" />
		<param name="Append" value="true" />

		<layout class="org.apache.log4j.TTCCLayout">
			<param name="dateFormat" value="ISO8601" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="ERROR" />
		</filter>	
	</appender>

  	
	<appender name="email" class="org.apache.log4j.net.SMTPAppender">
		<param name="SMTPHost" value="mail.sjc01.projectgoth.com"/>
		<param name="From" value="it@mon01.sjc01.projectgoth.com"/>
		<param name="To" value="it@mig33global.com"/>
		<param name="Subject" value="SJC01 Fusion Alert"/>
		<layout class="org.apache.log4j.TTCCLayout">
			<param name="dateFormat" value="ISO8601" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
		</filter>
	</appender>
	
	<!-- MIG33 LOGGERS -->

	<logger name="gateway">
		<level value="INFO"/>
	</logger>

	<logger name="objectcache">
		<level value="INFO"/>
	</logger>

         <logger name="facebook">
                <level value="INFO"/>
        </logger>

         <logger name="gtalk">
                <level value="INFO"/>
        </logger>

	<logger name="registry">
		<level value="INFO"/>
	</logger>

	<logger name="sessioncache">
		<level value="INFO"/>
	</logger>

	<logger name="userevent.store">
		<level value="INFO"/>
	</logger>

	<logger name="userevent.system">
		<level value="INFO"/>
	</logger>

	<logger name="AuthenticationLog" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="authlogfile"/>
	</logger>
	
	<logger name="imageserver">
		<level value="INFO"/>
	</logger>	
	
	<logger name="ChatroomAudit" additivity="false">
        	<level value="INFO"/>
        	<appender-ref ref="chatroomaudit" />
    	</logger>

	<logger name="VoiceAudit" additivity="false">
                <level value="INFO"/>
                <appender-ref ref="voiceaudit" />
        </logger>

    <logger name="HttpTunnelAudit" additivity="false">
                <level value="INFO"/>
                <appender-ref ref="httptunnelaudit" />
        </logger>

	<logger name="GiftAllMetrics" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="giftallmetrics" />
	</logger>

	<!-- THIRD PARTY LOGGERS -->
	
	<logger name="c3p0">
		<level value="INFO"/>
	</logger>

        <logger name="org.keyczar">
                <level value="WARN"/>
        </logger> 

	<logger name="com.danga">
		<level value="WARN"/>
	</logger>
	
	<logger name="com.mchange">
		<level value="INFO"/>
	</logger>
	
	<logger name="log.MLog">
		<level value="INFO"/>
	</logger>
	
	<logger name="MySQL">
		<level value="INFO"/>
	</logger>
	
	<logger name="org.apache.commons">
		<level value="WARN"/>
	</logger>
	
	<logger name="org.springframework">
		<level value="WARN"/>
	</logger>

	<logger name="uns">
		<level value="DEBUG"/>
	</logger>

	<logger name="uns.task">
		<level value="DEBUG"/>
	</logger>

        <logger name="rewardsystem">
                <level value="DEBUG"/>
        </logger>

	<root>
		<priority value="INFO" />
		<appender-ref ref="logfile" />
		<appender-ref ref="errorfile" />
		<!--   <appender-ref ref="email" /> -->
		<!--  <appender-ref ref="warnerrorlog" /> -->
		<!--  <appender-ref ref="console" /> -->
	</root>
</log4j:configuration>
