body{font-family:sans-serif;margin:0;padding:0;}


img { border: none; }

/* Headers */
h1{padding:0;margin:0;color:#fff;display:inline;vertical-align:top;}
h2, h3, h4 {padding:0;margin:5px 0 1px 0;}
h4 {color:#EA5226;}
.header1 { width: 100%; background-color: #C8EBF9; padding:1px; }
.title { width: 100%; background-color: #529ED2; color: #FFF; padding:1px; }


/* Commons */
p {margin:0.1em 0 0.3em 0;}
.info p, #help p {margin-bottom:0.6em;}
/*ol,ul {padding:0em;margin:0;padding-bottom:0.3em;}*/
ol,ul,li {padding-bottom:0.3em;}
li {margin-bottom: 0.2em}
a:link, a:visited {color:#4998D0;}
h2 a, h3 a {font-weight:normal;}
hr {color: #529ED2; }
table#separator tr td { border-bottom: 0 solid #cccccc; padding-top: 0.3em}
.img-bdr {border: 0.1em solid #008cd2;}
.mw-icon{width:22px; text-align: center; vertical-align: top}

/* Misc */
.sec{color:#888;}
.error{color:red;}
.success{color:blue;}
.clear{clear: both; padding: 0px; margin: 0px;}

/* Layout */
#header {padding:0.3em 0 0;margin:0;width:100%}
#header h1 {padding-left:2px;}
#header .banner {text-align:left;width:165px;background:none;}
#header .banner img {margin:auto;}
#header .logo {text-align:right;width:165px;background:none;}'
#content {padding:0.2em 0em; font-size: 100%;}
#footer {padding:0.3em; background:none; margin:0; color:#777;}


/* Forms */
form label {display:block; margin:0.5em 0 0.2em 0; font-weight: bold; }
form input.button{margin:0.5em 0;background-color: #C8EBF9;color: #000; padding: 0.1em}


/* Section */
h2.hot {color:#FFF;background:#EA5226; line-height:1.2em;margin:0 -0.3em 0.3em;border-bottom:0.1em solid #EA5226;padding: 0.2em 0 0 0.2em;}
.section {padding: 0 0.3em 0.3em;background:url(section_mobile_bg.gif) left bottom repeat-x;clear: both}
.section h2 {color:#FFF;background:#2B79C2;line-height:1.2em;margin:0 -0.3em 0.3em -0.3em;border-bottom:0.1em solid #DEEAFC;padding: 0.1em 0 0 0.2em;}
.section h2 a,
.section h2 a:visited { color: #ffffff;}
.section h2.hot {color:#FFF;background:#EA5226; line-height:1.2em;margin:0 -0.3em 0.3em -0.3em;border-bottom:0.1em solid #EA5226;padding: 0.1em 0 0 0.2em;}
.section h2.norm {color:#EA5226;background:#FFFFFF; line-height:1.2em;margin:0.3em -0.3em 0.3em -0.3em;border-bottom:0.1em solid #FFF; padding: 0 0 0 0.2em;}
.section h2.norm a,
.section h2.norm a:visited {color:#EA5226; text-decoration: underline; font-weight: bold}
.section-bg {background-color: #e8f3f7;}
div.first {border-top:0 none;}
.border-top {border-top:0.1em solid #ccc; padding-top: 0.3em}
.nobg {background:none;}


/* Highlights */
.focus {padding:2px; margin:2px 0;background:#d3ffad url(../images/wap/box_green_bg.gif) left bottom repeat-x;border: 1px solid #8ce730;}
.focus h2 {margin:-2px;background:#1FA9DB;color:#fff;padding: 1px 0;}
.focus h3 {margin:0;}
.positive {background:#eefbff url(../images/wap/box_blue_bg.gif) left bottom repeat-x;border: 1px solid #8ac2e9;padding: 0.2em; margin: 0 0 0.4em;}
.banner {margin-bottom: 2px;background: #000;}
.focus_orange{border: 1px solid #F7D25D; background-color: #F9F6E5; margin: 3px; padding: 3px; color: #EA5226;}
.title_orange{color:#ff7200;}

/* Tabs */
#wap_logo{margin: 0; margin-left: 0.3em; width:4.4em; display: inline;}
#wap_header_tabs {padding:0;margin:0;display: inline;}
.wap_header {background-color: #C8EBF9;}
.wap_header a, .wap_header a:link, .wap_header a:visited{background-color: #2B79C2; color:#FFF; padding: 0.2em 0.2em 0 0.2em;  text-decoration: none;} 		
.wap_header a:focus, .wap_header a:hover{color:#2B79C2; background-color:#FFF;}
.wap_header_tab_selected a:link, 
.wap_header_tab_selected a:visited{background-color: #FFF; color: #2B79C2; font-weight: bold; padding: 0.2em 0.2em 0 0.2em; text-decoration: none}


.dropdown {
	outline-color: #2B79C2;
}

.textbox {
	outline-color: #2B79C2;
}


/*	Text style */
.time { color: grey; }

/* Sections */
.new_section { background-color: #F3EED8 }


/* Notifications/highlights */
.notif{ background-color:#F7F4DE; padding: 2px;}
.highlight { background-color: #E5EFF4;	padding: 2px;}
.border_all{ border: 1px solid #F7CA4F }
.border_highlight_all {	border: 1px solid #529ED2;}




/* Store */
.already-own { color:#FF5055;}
.limited { font-weight:bold; color:#d64100;}
.sold-out{ font-weight:bold; color:#999;}
.num-sold{ color:#999;}

/* Nav stuff */ 
.navbar 
{
	background-color: #cce8f6;
	border-bottom: 1px solid #cce8f6;
	color: #008cd2;
	padding: 0.2em 0.2em 0;
	margin: 0em -0.3em;
}

.nav-back {	margin: 0.2em -0.2em; padding: 0.2em;}
.nav-back a,
.nav-back a:visited
{	
	color: #666;
	line-height: 100%;
}


/* Quick Access */
#qa
{
	margin-bottom: 0.2em;
}


/**
 * Grid CSS
 */

.grid
{
	width: 100%;
}

.grid-box
{
	margin: 0.1em;
	padding: 0.1em;
	width: 65px;
	text-align: center;
}

.grid-box-text
{
	margin: 0.2em;
	padding: 0.2em;
	width: 10em;
	float: left;
	text-align: center;
}

.grid-box img
{
	border: 0.1em solid #008cd2;
}

/* Grey Box */

.grey-box
{
	background-color: #cccccc; 
	border: 1px solid #999999; 
	padding: 0.2em; 
	margin: 0.2em 0;
}

.grey-box a,
.grey-box a:visited
{
	color: #333;
}


/* RSS */
.feeds{
	background-color: #F4F8F9;
	border: 1px solid #9FC9EF;
}

.feed{
	padding: 10px;
	border-bottom: 1px dotted #D5E4EA;
}

.feed-last{
	border-bottom: none;
}

.feed-header{
	padding-bottom: 5px;
}

.feed-title{
	font-weight: bold;
}

.feed-date{
	color: #999999;
	font-size: 11px;
}

.feed-fieldtitle{
	text-align: right;
	float:left;
	width:10em;
	padding-bottom:0;
	line-height:16px;
	padding-right: 5px;
	display: block;
	color: #444444;
	font-weight: bold;
}

.feed-fieldtitle label{
	font-size: 11px;
}

.feed-fieldtitle img{
	vertical-align: middle;
	padding-right: 2px;
}

.feed-fieldpair input[type=text]{
	width: 50%;
}

.feed-submit-inline{
	display: inline;
	margin:0.5em 0;
	background-color: #C8EBF9;
	color: #000;
	padding: 0.1em;
}

.feed-input {
	width: 100%;
}

.group-poll-vote LABEL {
	display: inline;
	font-size: 100%;
	font-weight: normal;
}

.sub-page-navigation {
	font-size: 13px;
}
.migworld-title {
	margin: 10px 0px 5px 0px;
	background-color: #2b79c2;
	color: #ffffff;
	font-weight: bold;
	padding: 2px;
}
UL.migworld-list {
	list-style-type: disc;
}
UL.migworld-list LI {
	padding-left: 12px;
}
.migworld-background {
	margin-top: 10px;
	border: 1px solid #cddce2;
	background-color: #ddedf1;
	padding: 3px;
}

/* Velti */
.velti-ads IMG {
	border: 0px;
}
