application/config/environment.php
application/cache/*
application/optimized_templates/*
nbproject
build/api/*
build/code-browser/*
build/coverage/*
build/logs/*
build/pdepend/*
build/phpdox/*
cache.properties
/.sonar/
.DS_Store
build/scripts/.sass-cache/
htdocs/resources/compressed/
*.tar.gz
.idea/*
clear_build_resources.sh
application/logs/*
