body {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        font-size: 10px;
        font-family: Verdane, Arial, Helvetica, sans-serif;
}

img {border:0;}

a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #000000;
        text-decoration: none;
        font-size: 10px;
}
a:hover {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #000000;
        text-decoration: none;
        font-size: 10px;
}

.sbox {border:1px solid #000099;padding:0;width:200px}
.btn {
	background-color:#bcc7cc;
	border:1px solid #000099;
	color:#000099;
	font-weight:bold;
}
.sbtn:active {background-color:#000099;color:#bcc7cc;}
.btndiv img {vertical-align:middle;}

