/* General */
body {
	margin : 0 auto;
	width:100%;
	height: 100%;
	min-height: 100%;
	font-family: Verdana;
	color: #000;
	font-size: 12px;
	background-color: #fff;
	margin-left: 0px;
	margin-right: 0px;
}
a:link { text-decoration : none; color : #008C00; border: 0px;}
a:active { text-decoration : underline; color : #008C00; border: 0px;}
a:visited { text-decoration : none; color : #008C00; border: 0px;}
a:hover { text-decoration : underline; color:#008C00; border: 0px;}
img { padding: 0px; margin: 0px; border: none;}
h2 { margin: 0px; padding: 0px 0px 0px 15px; }
p { padding: 0px; margin: 0px 0px 3px 0px; line-height: 15px; }
ul { padding-left: 15px; }

.back {
	padding-left: 10px;
}

.back A:link, .back A:active, .back A:visited {
	color: #000;
}
.back A:hover {
	text-decoration: underline;
}

/* Content */
.container {
	/* width: 550px; */
}
.subcontainer {
	margin: 10px;
	width: 530px;
}

.msgcontainer {
	margin: 10px;
	width: 480px;
	font-size:10px;
}

.votersList{
	margin: 10px;
	font-size: 10px;
}

.playNow {
	/*width: 525px;*/
	background:#edf4f7;
	border: 1px solid #c7dce5;
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	margin: 10px 0px 0px 0px;
	padding: 10px;
	font-size:15px;
	color: #666;
	
	font-weight: normal;
	font-variant: small-caps;
	text-align: center;
}

.playNow:hover {
	color: #000;
}

.playNow a{
	color: #4096EE;
	font-variant: small-caps;
	font-size: :15px;
}

.playNow a:hover{
	text-decoration: none;
	color: #4096EE;
	font-weight: bold;
}

.content {
	/* width: 525px; */
	background:#edf4f7;
	border: 1px solid #c7dce5;
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	margin: 10px 0px 0px 0px;
	padding: 10px;
	font-size:10px;
	color: #000000;
}

.content a{
	color: #008C00;
	cursor: pointer;
}


.contentHeader{
	font-weight: bold;
	color: #4096EE;
}

/*.voteTable td{
	text-align: left;
	vertical-align: middle;

	
	border: 0px solid #ccc;
} */

.voteCol{
	width: 180px;
	text-align: center;
	vertical-align: bottom;
}

.migLevelIcon{
	width:42px;
}

.voteButton{
	width: 150px;
}

.fullAvatar{
	padding-bottom: 5px;
	position: relative;
	width: 150px;
	height: 300px;
	margin: 0 auto;
}

.fullAvatar .curtain {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 300px;
	background: url(/sites/resources/images/ajax-loader.gif) no-repeat center center;
	overflow: hidden;
}

.fullAvatar img {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	
}

.uname{
	font-size: 10px;
	font-weight: normal;
	color: #36393D;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}

/* Profile */
.profile-pic {
	margin-top: 3px;
	width: 70px;
	float: left;
}
.profile-pic IMG {
	padding: 3px;
	background:#a4a4a4;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
.profile-details {
	width: 260px;
	float: left;
}

/*Leaderboard*/
.leaderboardTable td{
	vertical-align: middle;
}

.fshow_rank{
	font-size: 10px;
	font-weight: bold;
	color: #36393D;
	width: 20px;
}

.fshow_uname{
	font-size: 10px;
	font-weight: bold;
	color: #36393D;
	width: 200px;
	text-align: left;
}

.tableHdr{
	font-weight: bold;
}

.numOfVotes{
	width: 35px;
	background-color: #CDEB8B;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	margin: 0px 0px 0px 0px;
	padding: 10px;
	font-size:13px;
	color: #36393D;
	text-align: center;
}


/* Bar */
.bar {
	width: 100%;
}
.bar-text {
	text-align: left;
	float: left;
	margin-bottom: 5px;
}
.bar-value {
	text-align: right;
	float: right;
	margin-bottom: 5px;
}

/* Box */
.box {
	width: 90%;
	padding: 10px;
	margin: 10px auto 10px auto;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background: #CCC;
	border:1px solid #2d2c2c;
}
.box-pic {
	width: 50px;
	float: left;
}
.box-details {
	width: 220px;
	float: left;
}

/* Title */
.title {
	font-size: 14px;
}


/* Table */
.table {
}
.table-col-1 {
	width: 100px;
	float: left;
}
.table-col-2 {
	float: left;
}

.vote-result{
	font-weight: bold;
	vertical-align: middle;
	background: url("/sites/resources/images/mig33-blue/misc/icon_avatarvote_16.png") no-repeat scroll 10px center #FFFEE2;
	color: #555555;
	border: 1px solid #FFD673;
	padding-left: 35px;
}

.vote-fail{ 
	background-color:#ffeeee;
	border: 1px solid #ffb6b6;
	color:#ee0000;
}

.footerLink{
	padding-left:35px; 
	padding-right:35px; 
	display: inline;
}
