.page-misc-cricket #content{
	position:relative;
	height:460px;
	background:#2a75a8 url(../images/v2/cricket_mainsection_bg.jpg) no-repeat top center;
}
*html .page-misc-cricket #content {
	margin-top:35px;
	width:860px;
}

#cricketContainer {
	position:relative;
	width:100%;
}
#cricketContainer #mainSection {
	height:334px;
	position:absolute;
	width:900px;
	top:0;
	left:0;
	color:#fff;
}

#cricketContainer #mainSection h1 {
	margin-top:10px;
	padding:0;
	background:transparent url(../images/v2/cricket_mainsection_title.png) no-repeat top left;
	text-indent:-9999px;
	width:494px;
	height:40px;
}

*html #cricketContainer #mainSection h1 {
	margin-top:0;
	behavior: url("../images/v2/iepngfix.htc");
}

#cricketContainer #mainSection #featurePoints {
	width:525px;
}

#cricketContainer #mainSection #featurePoints h3,
#cricketContainer #mainSection #featurePoints h4 {
	color:#fff;
	font-size:16px;
	line-height:16px;
	margin:0;
	margin-top:15px;
}

#cricketContainer #mainSection #featurePoints h4 {
	font-size:12px;
}

#cricketContainer #mainSection #featurePoints p {
	font-size:12px;
	color:#9bccf5;
	margin:0;
}

#cricketContainer #phoneScreen1 {z-index:1}
#cricketContainer #phoneScreen2 {z-index:2}
#cricketContainer #phoneScreen3 {z-index:3}
#cricketContainer .animated {position:absolute; top: 115px; left:652px;}
#cricketContainer .hidden {display:none;}

#cricketContainer #barSection1 {
	height:164px;
	position:absolute;
	width:900px;
	top:313px;
	left:-20px;
	color:#fff;
	background:transparent url(../images/v2/cricket_barsection1_bg.jpg) no-repeat top left;
	z-index:5;
}

*html .page-misc-cricket #cricketContainer #barSection1 {
	top:315px;
	left:-15px;
	width:890px;

}

#joinCricketContainer h2 {display:none;}
#joinCricketContainer .actionBox {
	width:160px;
	position:absolute;
	top:50px;
}

#joinCricketContainer #joinUrl {left:144px;}
#joinCricketContainer #joinUrl p {
	padding:0;
	margin:0;
	font-size:16px;
	text-align:center;
	font-weight:bold;
}
#joinCricketContainer #joinUrl a:link,
#joinCricketContainer #joinUrl a:visited,
#joinCricketContainer #joinUrl a:hover,
#joinCricketContainer #joinUrl a:active {
	color:#fff;
}

#joinCricketContainer #joinSMS {left:452px;}
*html .page-misc-cricket #joinCricketContainer #joinSMS img {
	behavior: url("../images/v2/iepngfix.htc");
}
#joinCricketContainer #joinSMS img {
	position:absolute;
	top:15px
}

#joinCricketContainer #joinSMS p {
	margin:0;
	top:15px;
	font-size: 14px;
	font-weight:bold;
	position:absolute;
	left: 38px;
	text-align:center;
}

#eventContainer {
	position:absolute;
	left:650px;
	top:0;
	padding:0 20px;
	border-left:1px dotted #3981B4;
	overflow:hidden;
}

#eventContainer h2 {color:#fff;margin-top:10px;}
#eventContainer .event {margin-top:10px;}
#eventContainer .event p {
	margin:0;
	font-size:11px;
	line-height:13px;
	color:#a7d2f5;
}
#eventContainer .event p strong {color:#fff;}