@import url("layout.css");
@import url("layout_bp.css");
@import url("links.css");
html{
	font-size:76%;
}
body {
	/*margin: 0px;*/
	/*padding: 0px;*/
	/*width: 100%;*/
	/*	font: [ [font-style||font-variant||font-weight]? font-size[/line-height]? font-family ]	*/
	/*font: normal 10px Verdana, Tahoma, Arial, Helvetica, sans-serif;*/
	font-family:Arial, Helvetica, sans-serif;
	/*color: #606060;*/
	color:#535353;
	font-size:0.9em;
	background: #ffffff;
}

a {
	color: #606060;
}

img {
	border: none;
}

.bold {
	font-weight: bold;
}

.full_width {
	width: 100%;
}

.valign_t {
	vertical-align: top;
}

.fl_left {
	float: left;
}

.fl_right {
	float: right;
}

.underline {
	text-decoration: underline;
}
