spring:
  datasource:
    hikari:
      maximum-pool-size: 50
      minimum-idle: 10
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

logging:
  level:
    com.migme.fusion: INFO
    root: WARN
