html,
body{
    margin:0;
    padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
}

#logowrap img{
	padding:5px;
	width:5em;
}

a img{
	border:none;
}
#container{
    min-height:10em;
    position:relative;
	margin:0 auto;
	background-color:#fff;
}
#header{
	font-size:0.75em;
}
#logowrap{
	background-color:#efefef;
	clear:both;
	float:left;
	width:100%;
	text-align:center;
}
#descwrap{
	background-color:#d9ecf5;
	text-align:center;
	margin:10px 10px 2px 10px;
	padding:10px;
	clear:both;
}
#main{
    padding:0 10px;
    font-size:.75em;
    background-color:#fff;
	clear:both;
}
#footer{
    width:100%;
	font-size:0.75em;
	text-align:center;
	clear:both;
}


.clear{
	clear:both;
}

/*added by Borrys*/
.floatLeft{
	float:left;
}
.floatRight{
	float:right;
}
.downloadLinkArea{
	text-align:center;
	border:1px solid #ff9900;
	padding:15px 0px;
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fefefe, endColorstr=#d5d5d5);

	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fefefe, endColorstr=#d5d5d5)";	
		
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#d5d5d5));
	background: -moz-linear-gradient(#fefefe, #d5d5d5);
}

.downloadLinkArea a, p a{
	color:#ff9900;
}

.downloadWrap, .registerWrap {
	background:url(img/arrow.png) no-repeat 0% 10%;
	padding-left:20px;
	text-align:left;
	width:240px;
	max-width:240px;
	margin:auto;
}
.registerWrap {
	background: none;
}

.center{
	text-align:center;
}

a.large{
	font-weight:bold;
	font-size : 120%;
}
.small{
	font-size:90%;
}